@page "/product"
@page "/product/{Id:int}"
@using Cosmos.Shared.Models
@using Microsoft.AspNetCore.Components.Forms
@using MudBlazor
@inject IWebApi WebApi
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<MudText Align="Align.Center" Typo="Typo.h3"><b>Product Detail</b></MudText>

@if (_product is not null)
{
	<MudGrid>
		<MudItem xs="12" sm="6">
			<MudImage Class="d-flex justify-center align-center" Src="images/FourthWing.jpg" Height="400" ObjectFit="ObjectFit.Cover"></MudImage>
@* 			<MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
				<MudCarouselItem Transition="transition">
					<div class="d-flex" style="height:100%">
						<MudImage Src="images/FourthWing.jpg" Height="200" ObjectFit="ObjectFit.Cover"></MudImage>
					</div>
				</MudCarouselItem>
				<MudCarouselItem Transition="transition">
					<div class="d-flex" style="height:100%">
						<MudImage Src="images/TheGreatGatsby.jpg" Height="200" ObjectFit="ObjectFit.Cover"></MudImage>
					</div>
				</MudCarouselItem>
				<MudCarouselItem Transition="transition">
					<div class="d-flex" style="height:100%">
						<MudImage Src="images/ToKillAMockingbird.jpg" Height="200" ObjectFit="ObjectFit.Cover"></MudImage>
					</div>
				</MudCarouselItem>
			</MudCarousel> *@
		</MudItem>
		<MudItem xs="12" sm="6">
			<MudGrid Model="_product" FormName="ProductEditForm" OnValidSubmit="SaveProduct">
				<MudItem xs="12" sm="12">
					<MudTextField Class="d-flex align-center justify-center mud-width-full py-8" @bind-Value="@_product.Name" Label="Title" Variant="Variant.Outlined"></MudTextField>
				</MudItem>
				<MudItem xs="12" sm="12">
					<MudTextField Class="d-flex align-center justify-center mud-width-full py-8" @bind-Value="@_product.Description" Label="Description" Variant="Variant.Outlined"></MudTextField>
				</MudItem>
				<MudItem xs="6">
					<MudNumericField Class="d-flex align-center justify-center mud-width-full py-8" @bind-Value="@_product.Price" Label="Price/€" Variant="Variant.Outlined"></MudNumericField>
				</MudItem>
				<MudItem xs="6">
					<MudNumericField Class="d-flex align-center justify-center mud-width-full py-8" @bind-Value="@_product.Stock" Label="Stock" Variant="Variant.Outlined"></MudNumericField>
				</MudItem>
			</MudGrid>
		</MudItem>
		<MudItem xs="12" sm="3">
		</MudItem>
		<MudItem xs="12" sm="3">
			<MudButton Class="d-flex align-center justify-right mud-width-full py-3" type="submit" Variant="Variant.Filled" Color="Color.Success" @onclick=SaveProduct>Save</MudButton>
		</MudItem>
		<MudItem xs="12" sm="3">
			<MudButton Class="d-flex align-center justify-left mud-width-full py-3" type="submit" Variant="Variant.Filled" Color="Color.Error" @onclick=SaveProduct>Delete</MudButton>
		</MudItem>
		<MudItem xs="12" sm="3">
		</MudItem>
	</MudGrid>
}

@code {
	//NOTA: 
	// @page "/product" -> se chamarmos esta, ele pensa que e para adiconar novo produto
	// @page "/product/{Id:int}" -> enquanto esta serve para ver um produto especifico

	private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
	private Transition transition = Transition.Slide;

	[Parameter]
	public int? Id { get; set; }

	private Product _product { get; set; } = new();

	private async void SaveProduct()
	{
		_product.CreatedAt = DateTime.Now;

		var response = await WebApi.UpdateProduct(_product);

		_product = new();

		// Snackbar.Add("Product added successfully", Severity.Success);

		StateHasChanged();

		NavigationManager.NavigateTo($"/", true);
	}

	protected override async Task OnParametersSetAsync()
	{
		if (Id is not null)
		{
			_product = await WebApi.GetProduct(Id.Value);
		}
	}

	// private void DeleteProduct()
	// {
	// 	if (Product is not null)
	// 		ProductService.DeleteProduct(Product.ProductId);
	// 		NavigationManager.NavigateTo($"/");
	// }

}
